body {
    font-family:'Fira Sans',sans-serif;
    font-size:16px;
    color:#172014;
    margin:0;
    background-color:#F5F5F5;
    }
h1 {
    text-align:center;
}
h3 {
    text-align:center;
}
img {
    border:8px solid #EE7263;
}
.orange-text {
    color:#EE7263;
}
.white-text {
    color:#F5F5F5;
}
a {
    text-decoration:None;
    color:#172014;
}
.orange-bg {
    background-color:#EE7263;
}