html {
    font-family: 'Fira Sans', sans-serif;
    font-size:2vw;
    color: #172014;
}
body {
    background-color: #EE7263;
    padding:0;
    margin:0;
}

h1, h2, h3, p{
            margin:0 auto;
        }

h1 {
    padding:1vw;
    font-size: 10rem;
    line-height:8rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    font-weight:400;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

div {
    padding: 0;
}

img {
    max-height: 10%;
    width: 100%;
    display:inline-block;
}

.white-text {
    color: #F5F5F5;
}

a {
    text-decoration: None;
    color: #EE7263;

}

a:hover { 
    color:#172014;
}

.date {
    text-align: right;
    padding:1vw;
    font-size:2rem;
}

.white-block {
    background-color: #F5F5F5;
}