* {font-family:'Fira Sans',sans-serif;color:#172014}
header {background-color: #EE7263;}
h1 {text-align:center;}
h2 {text-align:left;}
h3 {text-align:center;}
p {text-align:left;}
img {border:#EE7263}
.orange-text {color:#EE7263;}
.white-text {color:#F5F5F5;}
a {text-decoration:none;}



